:root{
    --cor-primaria: #31263f;
    --cor-secundaria: #e4e00b;
    --cor-destaque: #7e1c81;
    --cor-fundo: #c4bbcf96;
}

h1{
    color: var(--cor-primaria);
}

h2{
    color: var(--cor-secundaria);
}

p{
    color: var(--cor-destaque);
    background-color: var(--cor-fundo);
}